.allSongs {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.songList {
	padding: 50px;
}

.allSongs::-webkit-scrollbar {
	border-radius: .5em;
}

.allSongs::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0);
}
.allSongs::-webkit-scrollbar-thumb {
	border-radius: .5em;
	background-color: hsl(180, 25%, 25%);
	/* outline: 1px solid slategrey; */
}

.playlistTitle {
	padding: 15px;
}
