.heading {
    /* height: 300px; */
    width: 100%;
    background-image: linear-gradient(hsl(0, 0%, 30%), hsl(0, 0%, 7%));
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.albumsArt {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.imgDiv {
    display: flex;
    flex-direction: row;

}

.imgContainer {
    height:120px;
    width: 120px;
    margin: 0;
    padding: 0;
}

.img {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 5em;
}